@use 'node_modules/html5-boilerplate/dist/css/normalize.css';
@use 'node_modules/html5-boilerplate/dist/css/main.css';
@use 'src/css/abstracts/variables' as *;
@use 'src/css/abstracts/mixins' as *;

html {
  box-sizing: border-box;
  color: $text-color;
}

// позволить переопределить `box-sizing` точечно для компонента вместе с содержимым
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
.root {
  height: 100%;
}

body {
  overflow-y: scroll;
  background: $main-bg;
}

.root {
  display: flow-root;
}

// https://css-tricks.com/webkit-html5-search-inputs/
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

// https://stackoverflow.com/questions/38663578/how-to-hide-autofill-safari-icon-in-input-field
input::-webkit-credentials-auto-fill-button {
  position: absolute;
  right: 0;
  visibility: hidden;
}

// Показ фокус-стилей только для `:focus-visible`
a[href]:not([tabindex^='-']):focus,
area[href]:not([tabindex^='-']):focus,
input:not([type='hidden']):not([type='radio']):not([disabled]):not([tabindex^='-']):focus,
input[type='radio']:not([disabled]):not([tabindex^='-']):checked:focus,
select:not([disabled]):not([tabindex^='-']):focus,
textarea:not([disabled]):not([tabindex^='-']):focus,
button:not([disabled]):not([tabindex^='-']):focus,
iframe:not([tabindex^='-']):focus,
audio[controls]:not([tabindex^='-']):focus,
video[controls]:not([tabindex^='-']):focus,
[contenteditable]:not([tabindex^='-']):focus,
[tabindex]:not([tabindex^='-']):focus {
  outline: 0;
}

a[href]:not([tabindex^='-']):focus-visible,
area[href]:not([tabindex^='-']):focus-visible,
input:not([type='hidden']):not([type='radio']):not([disabled]):not([tabindex^='-']):focus-visible,
input[type='radio']:not([disabled]):not([tabindex^='-']):checked:focus-visible,
select:not([disabled]):not([tabindex^='-']):focus-visible,
textarea:not([disabled]):not([tabindex^='-']):focus-visible,
button:not([disabled]):not([tabindex^='-']):focus-visible,
iframe:not([tabindex^='-']):focus-visible,
audio[controls]:not([tabindex^='-']):focus-visible,
video[controls]:not([tabindex^='-']):focus-visible,
[contenteditable]:not([tabindex^='-']):focus-visible,
[tabindex]:not([tabindex^='-']):focus-visible {
  @include focus-ring;
}

// Сброс стилей списков
.nolist {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Сброс отступов
.nomrg {
  margin: 0 !important;
}

// Выравнивание текста
.tac {
  text-align: center !important;
}

// Размеры текста
.fs-sm {
  font-size: $font-size-sm !important;
}
.fs-lg {
  font-size: $font-size-lg !important;
}
.fs-xl {
  font-size: $font-size-xl !important;
}

// Отступы снизу
.gap-y-gen {
  margin-bottom: #{$gap-y-generic} !important;
}
.gap-y-xs {
  margin-bottom: #{$gap-y-xs} !important;
}
.gap-y-sm {
  margin-bottom: #{$gap-y-sm} !important;
}
.gap-y-lg {
  margin-bottom: #{$gap-y-lg} !important;
}
.gap-y-xl {
  margin-bottom: #{$gap-y-xl} !important;
}
[class*='gap-y-']:last-child {
  margin-bottom: 0 !important;
}

:root {
  --brand-color: #{$yellow};
  --section-pad-x-generic: #{$gap-x-generic};

  @media (min-width: $narrow-screen-bp) {
    --section-pad-x-generic: #{$gap-x-generic-lg};
  }
}

.new-theme {
  --brand-color: #{$dark-red};
}
