@use 'node_modules/html5-boilerplate/dist/css/normalize.css';
@use 'node_modules/html5-boilerplate/dist/css/main.css';
@use 'src/css/abstracts/variables' as *;
@use 'src/css/abstracts/mixins' as *;

html {
  box-sizing: border-box;
}

// позволить переопределить `box-sizing` точечно для компонента вместе с содержимым
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
.root {
  height: 100%;
}

body {
  overflow-y: scroll;
  background: var(--main-bg);
  color: var(--text-color);
}

.root {
  display: flow-root;
}

// https://css-tricks.com/webkit-html5-search-inputs/
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

// https://stackoverflow.com/questions/38663578/how-to-hide-autofill-safari-icon-in-input-field
input::-webkit-credentials-auto-fill-button {
  position: absolute;
  right: 0;
  visibility: hidden;
}

// Показ фокус-стилей только для `:focus-visible`
a[href]:not([tabindex^='-']):focus,
area[href]:not([tabindex^='-']):focus,
input:not([type='hidden']):not([type='radio']):not([disabled]):not([tabindex^='-']):focus,
input[type='radio']:not([disabled]):not([tabindex^='-']):checked:focus,
select:not([disabled]):not([tabindex^='-']):focus,
textarea:not([disabled]):not([tabindex^='-']):focus,
button:not([disabled]):not([tabindex^='-']):focus,
iframe:not([tabindex^='-']):focus,
audio[controls]:not([tabindex^='-']):focus,
video[controls]:not([tabindex^='-']):focus,
[contenteditable]:not([tabindex^='-']):focus,
[tabindex]:not([tabindex^='-']):focus {
  outline: 0;
}

a[href]:not([tabindex^='-']):focus-visible,
area[href]:not([tabindex^='-']):focus-visible,
input:not([type='hidden']):not([type='radio']):not([disabled]):not([tabindex^='-']):focus-visible,
input[type='radio']:not([disabled]):not([tabindex^='-']):checked:focus-visible,
select:not([disabled]):not([tabindex^='-']):focus-visible,
textarea:not([disabled]):not([tabindex^='-']):focus-visible,
button:not([disabled]):not([tabindex^='-']):focus-visible,
iframe:not([tabindex^='-']):focus-visible,
audio[controls]:not([tabindex^='-']):focus-visible,
video[controls]:not([tabindex^='-']):focus-visible,
[contenteditable]:not([tabindex^='-']):focus-visible,
[tabindex]:not([tabindex^='-']):focus-visible {
  @include focus-ring;
}

// Сброс стилей списков
.nolist {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Сброс отступов
.nomrg {
  margin: 0 !important;
}

// Выравнивание текста
.tac {
  text-align: center !important;
}

// Размеры текста
.fs-sm {
  font-size: $font-size-sm !important;
}
.fs-lg {
  font-size: $font-size-lg !important;
}
.fs-xl {
  font-size: $font-size-xl !important;
}

// Отступы снизу
.gap-y-gen {
  margin-bottom: #{$gap-y-generic} !important;
}
.gap-y-xs {
  margin-bottom: #{$gap-y-xs} !important;
}
.gap-y-sm {
  margin-bottom: #{$gap-y-sm} !important;
}
.gap-y-lg {
  margin-bottom: #{$gap-y-lg} !important;
}
.gap-y-xl {
  margin-bottom: #{$gap-y-xl} !important;
}
[class*='gap-y-']:last-child {
  margin-bottom: 0 !important;
}
:root {
  /* stylelint-disable custom-property-empty-line-before */
  //цвета
  --color-l-step: 10%;

  // https://coolors.co/eec643-141414-eef0f2-0d21a1-011638
  --black-hs: 0, 0%;
  --black-l: 8%;
  --black-raw: var(--black-hs), var(--black-l);
  --black: hsl(var(--black-raw));
  --black-lighter: hsl(var(--black-hs), calc(var(--black-l) + var(--color-l-step)));

  --yellow-hs: 46, 83%;
  --yellow-l: 60%;
  --yellow-raw: var(--yellow-hs), var(--yellow-l);
  --yellow: hsl(var(--yellow-raw));
  --yellow-lighter: hsl(var(--yellow-hs), calc(var(--yellow-l) + var(--color-l-step)));
  --yellow-darker: hsl(var(--yellow-hs), calc(var(--yellow-l) - var(--color-l-step)));

  --blue-hs: 232, 85%;
  --blue-l: 34%;
  --blue-raw: var(--blue-hs), var(--blue-l);
  --blue: hsl(var(--blue-raw));
  --blue-lighter: hsl(var(--blue-hs), calc(var(--blue-l) + var(--color-l-step)));
  --blue-darker: hsl(var(--blue-hs), calc(var(--blue-l) - var(--color-l-step)));

  --navy-hs: 217, 96%;
  --navy-l: 11%;
  --navy-raw: var(--navy-hs), var(--navy-l);
  --navy: hsl(var(--navy-raw));
  --navy-lighter: hsl(var(--navy-hs), calc(var(--navy-l) + var(--color-l-step)));
  --navy-darker: hsl(var(--navy-hs), calc(var(--navy-l) - var(--color-l-step)));

  --grey-hs: 240, 0%;
  --grey-l: 56%;
  --grey-raw: var(--grey-hs), var(--grey-l);
  --grey: hsl(var(--grey-raw));
  --grey-lighter: hsl(var(--grey-hs), calc(var(--grey-l) + var(--color-l-step)));
  --grey-darker: hsl(var(--grey-hs), calc(var(--grey-l) - var(--color-l-step)));

  --white-hs: 220, 27%;
  --white-l: 98%;
  --white-raw: var(--white-hs), var(--white-l);
  --white: hsl(var(--white-raw));
  --white-lighter: hsl(var(--white-hs), calc(var(--white-l) + var(--color-l-step)));
  --white-darker: hsl(var(--white-hs), calc(var(--white-l) - var(--color-l-step)));

  --red-hs: 0, 100%;
  --red-l: 50%;
  --red-raw: var(--red-hs), var(--red-l);
  --red: hsl(var(--red-raw));
  --red-lighter: hsl(var(--red-hs), calc(var(--red-l) + var(--color-l-step)));
  --red-darker: hsl(var(--red-hs), calc(var(--red-l) - var(--color-l-step)));

  --brand-color: var(--yellow);
  --brand-color-raw: var(--yellow-raw);
  --brand-color-darker: var(--yellow-darker);

  --primary-color: var(--navy);
  --primary-color-raw: var(--navy-raw);

  --text-color: var(--white);
  --text-color-raw: var(--white-raw);

  --muted-color: var(--grey);
  --muted-color-raw: var(--grey-raw);
  --muted-color-darker: var(--grey-darker);

  --ui-color: var(--muted-color);
  --ui-color-raw: var(--muted-color-raw);

  --error-color: var(--red);
  --error-color-raw: var(--red-raw);

  --danger-color: var(--red);
  --danger-color-raw: var(--red-raw);

  --dark-color: var(--black);
  --dark-color-raw: var(--black-raw);
  --dark-color-lighter: var(--black-lighter);

  --light-color: var(--white);

  --main-bg: var(--dark-color);
  --main-bg-raw: var(--dark-color-raw);
  --main-bg-lighter: var(--dark-color-lighter);

  // отступы
  --section-pad-x-generic: #{$gap-x-generic};

  @media (min-width: $narrow-screen-bp) {
    --section-pad-x-generic: #{$gap-x-generic-lg};
  }
  /* stylelint-enable */
}
