version: '3.9'
services:
  app:
    env_file: ./.env
    depends_on:
      - postgres
    build:
      context: .
    ports:
      - '${APP_PORT_HOST}:${APP_PORT}'
    restart: always
    networks:
      - app-network

  postgres:
    image: postgres:13
    env_file: ./.env
    ports:
      - '${POSTGRES_PORT_HOST}:${POSTGRES_PORT}'
    volumes:
      - ./postgresdata:/var/lib/postgresql/data
    restart: always
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4:5.7
    restart: always
    env_file: ./.env
    ports:
      - '${PGADMIN_PORT_HOST}:${PGADMIN_PORT}'
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - postgres
    networks:
      - app-network

volumes:
  pgadmin-data:

networks:
  app-network:
    driver: bridge
