@use 'src/css/abstracts/variables' as *;
@use 'src/css/abstracts/functions' as *;

// Общие стили полей форм (инпут/селект)
$field-gap-x: 0;
$field-gap-y: 1em;
$field-font-size: 1rem;
$field-line-height: 1.3;
// prettier-ignore
$field-border-width: 0 0 1PX;
$field-height: get-field-height($field-line-height, $field-gap-y, $field-border-width);
$field-placeholder-color: var(--muted-color);
$field-bg-color: transparent;
@mixin field-base {
  height: $field-height;
  padding: $field-gap-y $field-gap-x;
  border-width: $field-border-width;
  font-size: $field-font-size;
  line-height: $field-line-height;
}

@mixin field-base_size_sm {
  font-size: $font-size-sm;
}
@mixin field-base_size_md {
  font-size: $font-size-md;
}
@mixin field-base_size_lg {
  font-size: $font-size-lg;
}
@mixin field-base_size_xl {
  font-size: $font-size-xl;
}

@mixin field-skin {
  border-style: solid;
  border-color: var(--brand-color);
  background-color: $field-bg-color;
  color: var(--text-color);
}

/* stylelint-disable-next-line block-no-empty */
@mixin field_invalid {
}

// Темы
$field-gap-x_theme_solid: 1em;
@mixin field-base_theme_solid {
  --field-height: #{$field-height};

  padding-right: $field-gap-x_theme_solid;
  padding-left: $field-gap-x_theme_solid;
}
@mixin field-skin_theme_solid {
  border-color: transparent;
  background-color: var(--primary-color);
}

@mixin field-base_theme_transparent {
  border-width: 0;
}
@mixin field-skin_theme_transparent {
  background-color: transparent;
}
