// Общие стили полей форм (инпут/селект)
$field-gap-x: 0;
$field-gap-y: 1em;
$field-font-size: 1rem;
$field-line-height: 1.3;
$field-border-width: 0 0 1px;
$field-height: get-field-height($field-line-height, $field-gap-y, $field-border-width);
$field-placeholder-color: $muted-color;
$field-bg-color: transparent;
@mixin field-base {
  height: $field-height;
  padding: $field-gap-y $field-gap-x;
  border-width: $field-border-width;
  font-size: $field-font-size;
  line-height: $field-line-height;
}

@mixin field-base_sizing_sm {
  font-size: $font-size-sm;
}
@mixin field-base_sizing_lg {
  font-size: $font-size-lg;
}
@mixin field-base_sizing_xl {
  font-size: $font-size-xl;
}

@mixin field-skin {
  border-style: solid;
  border-color: $brand-color;
  background-color: $field-bg-color;
  color: $text-color;
}

/* stylelint-disable-next-line block-no-empty */
@mixin field_invalid {
}

// Темы
$field-gap-x_theme_dumb-example: 1em;
$field-bg-color_theme_dumb-example: $blue;
@mixin field-base_theme_dumb-example {
  --field-height: #{$field-height};

  padding-right: $field-gap-x_theme_dumb-example;
  padding-left: $field-gap-x_theme_dumb-example;
}
@mixin field-skin_theme_dumb-example {
  border-color: transparent;
  background-color: $field-bg-color_theme_dumb-example;
}

@mixin field-base_theme_transparent {
  border-width: 0;
}
@mixin field-skin_theme_transparent {
  background-color: transparent;
  color: $muted-color;
}
