@use 'src/css/abstracts/variables' as *;

@mixin spinner($size: 1em, $color: $text-color) {
  width: $size;
  height: $size;

  &::after {
    border-width: calc(#{$size} / 8);
    border-style: solid;
    border-color: transparentize($color, 0.8);
    border-left-color: $color;
  }
}
