@use 'src/css/abstracts/variables' as *;

.block-link {
  display: block;
}
.block-link:link,
.block-link:visited,
.block-link:hover,
.block-link:focus,
.block-link:active {
  color: $text-color;
  text-decoration: none;
}
