// `scrollbar-width: thin` = 10px (с зазорами в ~2px по бокам)
// prettier-ignore
$scrollbar-size: 10PX;
// prettier-ignore
$scrollbar-gap: 2PX;
$scrollbar-track-color: transparent;
$scrollbar-thumb-color: $muted-color;

.scrollbar {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

html,
textarea,
.scrollbar {
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
  scrollbar-width: thin;
}
html::-webkit-scrollbar,
textarea::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}
html::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  border: $scrollbar-gap solid transparent;
  border-radius: $scrollbar-size;
  background: $scrollbar-thumb-color;
  background-clip: content-box;
}
html::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}
