@use 'sass:math';

$spinner-size: 2em;

.spinner,
.spinner::after {
  position: absolute;
  border-radius: 50%;
}
.spinner {
  @include spinner($spinner-size, $text-color);

  display: none;
}

.spinner::after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: spin 0.4s infinite linear;
  will-change: transform;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body > .spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-processing {
  position: relative;
}
.is-processing > .spinner {
  display: block;
}
