@use 'src/css/abstracts/variables' as *;
@use 'src/css/abstracts/mixins' as *;

.leaderboard__content {
  max-width: 36rem;
  margin: $gap-y-lg auto;
}

.leaderboard__head {
  margin-top: 2.5 * $gap-y-lg;
  margin-bottom: 2 * $gap-y-lg;
  color: $yellow;
  text-align: center;
}

.leaderboard__empty {
  font-size: $font-size-lg;
  text-align: center;
}

.leaderboard__spinner {
  --size: 10rem;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  color: $white;
}

.leaderboard__shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0.5;
}

.leaderboard__wrapper-row {
  display: flex;
  justify-content: space-between;
}

.leaderboard__players-list {
  padding: 0;
  list-style-type: none;
}

.leaderboard__players-list li:nth-child(1) {
  color: $brand-color;
}
.leaderboard__players-list li:nth-child(2) {
  color: lighten(desaturate($brand-color, 0.86), 6.47);
}
.leaderboard__players-list li:nth-child(3) {
  color: lighten(desaturate($brand-color, 5.47), 13.53);
}
.leaderboard__players-list li:nth-child(4) {
  color: lighten(desaturate($brand-color, 9.95), 20.98);
}
.leaderboard__players-list li:nth-child(5) {
  color: lighten(desaturate($brand-color, 26.89), 26.67);
}

.leaderboard__bottom-line {
  // prettier-ignore
  height: 1PX;
  border: 0;
  background-color: $ui-color;
}

.leaderboard__nickname {
  @include break-word;
}

.leaderboard__points {
  margin-left: $gap-x-generic;
  white-space: nowrap;
}

.leaderboard__pagination {
  text-align: center;
}
