@use 'src/css/abstracts/variables' as *;
@use 'src/css/abstracts/mixins' as *;

.leaderboard__content {
  position: relative;
  max-width: 36rem;
  margin: $gap-y-lg auto;
}

.leaderboard__head {
  margin-top: 2.5 * $gap-y-lg;
  margin-bottom: 2 * $gap-y-lg;
  color: var(--brand-color);
  text-align: center;
}

.leaderboard__empty {
  font-size: $font-size-lg;
  text-align: center;
}

.leaderboard__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.leaderboard__shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: var(--dark-color);
  opacity: 0.7;
}

.leaderboard__wrapper-row {
  display: flex;
  justify-content: space-between;
}

.leaderboard__players-list {
  padding: 0;
  list-style-type: none;
}

.leaderboard__bottom-line {
  // prettier-ignore
  height: 1PX;
  border: 0;
  background-color: var(--ui-color);
}

.leaderboard__nickname {
  @include break-word;
}

.leaderboard__points {
  margin-left: $gap-x-generic;
  white-space: nowrap;
}

.leaderboard__pagination {
  text-align: center;
}
