@use 'sass:math';
@use 'src/css/abstracts/variables' as *;

.page,
.page_delegated > * {
  overflow: hidden;
  min-height: 100%;
  padding: $page-gap-y var(--section-pad-x-generic);
}
.page {
  display: flow-root;
}
.page_delegated {
  overflow: visible;
  padding: 0;
}

.page_centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__centerer {
  max-width: 100%;
}

.page_fullscreen,
.page_delegated {
  height: 100%;
}
.page_fullscreen {
  padding: 0;
}
