@use 'sass:math';

.page {
  display: flow-root;
  min-height: 100%;
}

.page_centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__centerer {
  max-width: calc(100% - #{$gap-x-generic-lg} * 2);
}
.page__content {
  display: flow-root;
  margin: $gap-y-generic var(--section-pad-x-generic);
}

.page_fullscreen {
  display: flow-root;
  overflow: hidden;
}
.page_fullscreen,
.page_fullscreen > .page__centerer,
.page_fullscreen > .page__content {
  height: 100%;
}
.page_fullscreen > .page__centerer,
.page_fullscreen > .page__content {
  max-width: none;
  margin: 0;
}
