@use 'src/css/abstracts/variables' as *;
@use 'src/css/abstracts/mixins' as *;

$forum-body-gap-y: 1rem;

.forum,
.forum__body {
  display: flex;
  flex-direction: column;
}
.forum__header,
.forum__body,
.forum__footer,
.forum__heading,
.forum__toolbar,
.forum__reply {
  flex-shrink: 0;
}
.forum__body,
.forum__page {
  flex-grow: 1;
}

.forum__header,
.forum__footer,
.forum__heading {
  margin-right: calc(-1 * var(--section-pad-x-generic));
  margin-left: calc(-1 * var(--section-pad-x-generic));
  padding: 1rem var(--section-pad-x-generic);
}

.forum__heading,
.forum__footer {
  background-color: var(--primary-color);
  text-align: center;

  @media (min-width: $forum-bp) {
    text-align: left;
  }
}

.forum__header {
  margin-top: -#{$page-gap-y};
  // prettier-ignore
  border-bottom: 1PX solid var(--ui-color);
  text-align: center;
}

.forum__body {
  position: relative;
}

.forum__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
}

.forum__footer {
  margin-bottom: -#{$page-gap-y};
  opacity: 0;
  visibility: hidden;
}

.is-loaded ~ .forum__footer {
  animation: showFooter 0.2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

/**
 Футер прибит к низу, т.к. если контента нет, он должен быть показан там.
 Загруженный контент рендерится с задержкой, и футер на долю секунду виден внизу экрана,
 прежде чем быть передвинутым контентом внизу. Это вызывает неприятное мельтешение,
 чтобы это исправить футер появляется с задержкой 0.2s
 */
@keyframes showFooter {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.forum__main-heading,
.forum__main-heading.heading {
  margin: 0;
  font-size: 2em;
}
.forum__heading,
.forum__heading.heading {
  @include break-word;

  min-height: 2.8515625em;
  font-size: 1.6em;
}
.forum__item-heading,
.forum__item-heading.heading {
  @include break-word;

  font-size: 1.3em;
}

$forum-section-gap: 3rem;

.forum__section,
.forum__posting {
  margin-bottom: $forum-section-gap;
}

.forum__posting_original {
  padding-bottom: $forum-section-gap;
  border-bottom: 1px solid var(--muted-color);
}

.forum__item-heading-misc {
  font-size: 0.7em;
  white-space: nowrap;
}

.forum__heading-action {
  vertical-align: middle;
}
.forum__heading-action:last-child {
  margin-left: 1em;
}
.forum__heading-action_shifted {
  position: relative;
  top: -0.1em;
  vertical-align: top;
  margin: -0.4em 0;
}

.forum__toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.forum__page + .forum__toolbar {
  margin-bottom: 2rem;
}
.forum__toolbar-slot_pagination {
  margin-left: auto;
  text-align: center;
}

.forum__page {
  margin: 1rem 0;
}

.forum__footer-stat_online {
  @include break-word;
}

.forum__reply,
.forum__create-thread {
  max-width: 1200px;
  margin-bottom: 2rem;
}

.forum__empty-message {
  color: var(--muted-color);
}
