.icon,
.icon > * {
  display: inline-block;
}
.icon > svg {
  position: relative;
  top: 0.066666667em;
  vertical-align: baseline;
  width: 1em;
  height: 1em;
}
.icon > svg,
.icon > svg path {
  fill: currentColor;
}
