.forum-comment {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  @media (min-width: $forum-bp) {
    flex-wrap: nowrap;
  }
}

.forum-comment__user,
.forum-comment__content {
  width: 100%;

  @media (min-width: $forum-bp) {
    width: auto;
  }
}

.forum-comment__user {
  flex-grow: 0;
  flex-shrink: 0;
  width: 8rem;
  max-width: 100%;
  text-align: center;
}

.forum-comment__user-name {
  @include break-word;
  @include line-clamp(3);

  margin-bottom: 1em;
  font-size: 1.2rem;
  line-height: 1.3;
}

.forum-comment__content {
  @include break-word;
}
