@use 'src/css/abstracts/variables' as *;
@use 'src/css/abstracts/mixins' as *;

$toast-padding: 10px;
$toast-icon-size: 30px;
$toast-animation-duration: 0.2s;
.toast {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  padding: $toast-padding;
  padding-left: calc(2 * #{$toast-padding} + #{$toast-icon-size});
  border-radius: 3px;
  background: $light-color no-repeat $toast-padding $toast-padding;
  background-size: $toast-icon-size $toast-icon-size;
  color: $dark-color;
  box-shadow: 0 0 10px $grey;
  opacity: 0.9;
}
.toast:last-child {
  margin-bottom: 0;
}

.toast_type_success {
  background-image: svg-load('bootstrap-icons/icons/emoji-sunglasses.svg');
}

.toast_type_warning {
  background-image: svg-load('bootstrap-icons/icons/exclamation-triangle.svg');
}

.toast:hover {
  box-shadow: 0 0 12px $light-color;
  opacity: 1;
}

.toaster_position_top-right > .toast {
  animation: toast-in-right $toast-animation-duration;
}

.toaster_position_bottom-right > .toast {
  animation: toast-in-right $toast-animation-duration;
}

.toaster_position_top-left > .toast {
  animation: toast-in-left $toast-animation-duration;
}

.toaster_position_bottom-left > .toast {
  animation: toast-in-left $toast-animation-duration;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.toast__message {
  @include break-word;
  @include line-clamp(3);

  min-height: $toast-icon-size;
  font-size: $font-size-md;
  line-height: 1.2;
}

.toast__close {
  float: right;
  margin: -#{$toast-padding} -#{$toast-padding} 0.4em 0.4em;
}
