.filepick {
  position: relative;
}
.filepick:focus-within {
  @include focus-ring;
}
.filepick__icon {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  display: none;
  width: 1.5em;
  height: 1.5em;
  background: svg-load('assets/img/icons/attached.svg', fill=$muted-color) no-repeat 50% 50%;
  background-size: contain;
  transform: translateY(-50%);
}
.filepick__input:valid ~ .filepick__icon {
  display: block;
}

