// Конфигурация, хэлперы, миксины
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// Базовые стили
@import 'base/base';
@import 'base/typography';

// CSS-компоненты
@import 'components/scrollbar';
@import 'components/link';
@import 'components/block-link';
@import 'components/heading';
@import 'components/spinner';
@import 'components/field-row';

///////////
// React //
///////////

// UI-компоненты
@import '../components/ui/Button/button';
@import '../components/ui/Input/input';
@import '../components/ui/Icon/icon';
@import '../components/ui/Avatar/avatar';
@import '../components/ui/Filepick/filepick';

// Компоненты приложения

// Модули
@import '../modules/Auth/auth';
@import '../modules/Profile/profile';

// Лэйаут
@import '../layout/Page/page';
