$leaderboard-bp: 37.5 * $font-size-primary; // 600px при шрифте 16px
.leaderboard {
  max-width: 45rem;
  margin: $gap-y-lg auto;
}
.leaderboard__head,
.leaderboard__name {
  text-align: center;
}
.leaderboard__head {
  margin-top: 2 * $gap-y-lg;
  margin-bottom: $gap-y-lg;
}
.leaderboard__pic {
  position: relative;
  margin-bottom: $gap-y-generic;
}

.leaderboard__pic-setter {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.leaderboard__table,
.leaderboard__table-body,
.leaderboard__table-tfoot,
.leaderboard__table-row {
  display: block;
}
.leaderboard__table-row {
  border-bottom: 1px solid $ui-color;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
  text-align: justify;
  white-space: normal;
  word-spacing: 0;

  @media (min-width: $leaderboard-bp) {
    display: flex;
    justify-content: space-between;
  }
}
.leaderboard__table-row:last-child {
  border-bottom: none;
}
.leaderboard__table-row::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;

  @media (min-width: $leaderboard-bp) {
    display: none;
  }
}
.leaderboard__table-cell {
  @include break-word;

  display: block;
  vertical-align: baseline;
  font-size: 1rem;
  line-height: $line-height-primary;
  letter-spacing: normal;
  text-align: left;
  word-spacing: normal;

  @media (min-width: $leaderboard-bp) {
    display: inline-flex;
  }
}
th.leaderboard__table-cell {
  font-weight: normal;

  @media (min-width: $leaderboard-bp) {
    width: 45%;
  }
}
td.leaderboard__table-cell {
  color: $muted-color;
}

.leaderboard__table-cell:last-child {
  @media (min-width: $leaderboard-bp) {
    justify-content: flex-end;
    width: 53%;
    text-align: right;
  }
}
.leaderboard__table-cell:last-child input {
  @media (min-width: $leaderboard-bp) {
    text-align: right;
  }
}

.leaderboard__field {
  display: inline-block;
  padding: ($field-gap-y * 2.5) 0 $field-gap-y;
  line-height: $field-line-height;

  @media (min-width: $leaderboard-bp) {
    padding: $field-gap-y 0 ($field-gap-y * 3);
  }
}
td > .leaderboard__field {
  padding-top: $field-gap-y;
}

.leaderboard__input[data-display='inline'] {
  display: block;

  @media (min-width: $leaderboard-bp) {
    display: inline-flex;
    width: 100%;
  }
}

.leaderboard__table-tfoot .leaderboard__table-row:first-child {
  padding-top: 1rem;
}
.leaderboard__table-tfoot .leaderboard__table-cell {
  display: block;
  width: auto;
  text-align: left;
}
