.forum-item-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $forum-bp) {
    flex-wrap: nowrap;
  }
}

.forum-item-preview__slot {
  width: 100%;

  @media (min-width: $forum-bp) {
    width: 45%;
  }
}
.forum-item-preview__slot_stat {
  padding-top: 0.4em;

  @media (min-width: $forum-bp) {
    text-align: right;
  }
}
.forum-item-preview__slot_desc > p:last-child {
  margin-bottom: 0;
}
